.items {
  background-color: bisque;
}
.display {
  color: brown;
}

.button{
  float: right;
  cursor: pointer;
  background-color: aqua;
}
.button:hover{
 background-color: red;
 color: aliceblue;
}
